.container {
  text-align: center;
  width: 1020px;
  height: 640px;
  margin: 0px auto;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.app-all {
  width: 200px;  
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.app-add {
  margin-left: 20px;
}

.app-temperatures{
  margin-top: -350px;
}
